@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Heigth:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Animals)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Heigth</td>
                </tr>
            }
        </tbody>
    </table>
</div>
